
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
  dt, dd, ol, ul, li, table, tr, td, form, object, embed,
  article, aside, canvas, command, details, fieldset,
  figcaption, figure, footer, group, header, hgroup, legend,
  mark, menu, meter, nav, output, progress, section, summary,
  time, audio, video,img {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
	font-family: arial;
	font-size: 12px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#2255aa;
}

a:hover{
	color: #000000;
}
h3{
	background: #ccddff repeat-x url(../images/icons.png) bottom;
	
	font-size:14px;
	line-height: 18px;
	padding: 7px 10px 7px 10px;
	margin-bottom: 10px;
}
.heading{
	border-bottom: 1px solid #bbccff;
	
}
.heading span{
	font-weight: bold;
	font-size: 14px;
	background: #ccddff;
	line-height: 29px;
	display: block;
	margin-bottom: 1px;
	padding-left: 10px;
	
}

.clr{
	float: none;
	clear: both;
}
#header{
	background-color: #d6e4ff;
	border-bottom: 1px solid #bbccff;
	margin-bottom: 40px;
}

#header .headerInner{
	width: 990px;
	margin: 0 auto;
}

#header .headerInner .logo{
	height:32px;
	width: 134px;
	background: no-repeat url(../images/icons.png) 0px -180px;
	float: left;
	margin: 22px 96px 20px 0;
	text-indent: -9999px;
}
.headerCenter{
	float: left;
	margin: 11px 0 0 0;

}

.headerCenter .centerNav{
	margin-bottom: 7px;

}
.headerCenter .centerNav li{
	float: left;
	font-weight: bold;
	font-size: 14px;
	margin: 0 18px 0 0;
	text-shadow: 0px 1px 0px #ffffff;
}
.headerCenter .centerNav li a{

}


.headerCenter .centerNav .clr{
	float: none;
	clear: both;
}

.headerCenter form .searchTxt{
	width: 370px;
	height: 28px;
	border: 1px solid #d2d5e9;
	margin: 0px;
	font-size: 14px;
	padding: 0 5px 0 5px;
}

.headerCenter form .searchBtn{
	width: 90px;
	line-height: 26px;
	border: 1px solid #2255aa;
	margin: 0 0 0 -4px;
	background: #2255aa linear-gradient(rgba(255,255,255,0.2) 20%, rgba(255,255,255,0.0) 80%);
	font-size: 14px;
	color: #ffffff;
}


.headerRight{
	float: right;
	margin-top: 40px;
}

.headerRight .userNav{
	float: left;
	margin-right: 10px;
}
.headerRight .userNav li{
	float: left;
	margin: 0  0 0 16px;
}
.headerRight .userNav li{
	font-size: 14px;
	font-weight: bold;
}

.headerRight .socialNav{
	float: left;
}
.headerRight .socialNav li{
	float: left;
	margin: 0 0 0 4px;
}



.headerRight .socialNav li a{
	display: block;
	height: 21px;
	width: 21px;
	
}
.headerRight .socialNav li a:hover{
	position: relative;
	top:-1px;
}
.headerRight .socialNav li .facebook{
	background: no-repeat url(../images/icons.png) -60px 0px;
}

.headerRight .socialNav li .twitter{
	background: no-repeat url(../images/icons.png) -30px 0px;

}

#content{
	width: 990px;
	margin: 0 auto;
	background: repeat-y url(../images/background.png);
	
}

#content .leftContent{
	width: 210px;
	float: left;
	margin-right: 20px;
}

#content .centerContent{
	width: 460px;
	float: left;
	
	margin-right: 40px;
}

#content .rightContent{
	width: 260px;
	float: left;
}
#content .leftContent .institutes .instituteLogo{

	border-bottom: 1px solid #e5e5ee;
	margin-bottom: 10px;
}
#content .leftContent .institutes .instituteLogo img{
	max-width: 200px;
	max-height: 200px;
	padding: 5px;
	display: block;
	margin: 0 auto;
}

#content .leftContent .institutes .instituteDetails{
	line-height: 18px;
	margin: 0 10px 23px 0;
}

#content .leftContent .institutes .instituteDetails span{
	display: block;
	color:#2255aa;
	margin-bottom: 10px;
}


#content .leftContent .institutes .instituteDetails .motto{
	color: #959595;
	display: block;
	margin-bottom: 10px;
}

#content .leftContent .institutes .instituteDetails a{
	margin-bottom: 10px;
}

#content .leftContent .institutes .instituteDetails .instituteName{
	
	font-weight: bold;
}


#content .leftContent .institutes .instituteDetails .heads{
	color: #000000;
	font-weight: bold;
	margin-bottom: 0px;
}

#content .leftContent .instituteDetailsNav{
	margin-bottom: 20px;
}
#content .leftContent .instituteDetailsNav li{
	border-top: 1px solid #e5e5ee;
	color: #2255aa; 
	font-weight: bold;
	

}

#content .leftContent .instituteDetailsNav li a{
	display: block;
	padding: 7px 0 7px 0;
}

#content .leftContent .instituteDetailsNav li a span{
	max-width: 160px;
	margin-right: 5px; 
}

#content .leftContent .instituteDetailsNav li a i{
	float: left;
	height: 15px;
	width: 15px;
	margin-right: 6px;
}
#content .leftContent .instituteDetailsNav .overview a i{
	background: no-repeat url(../images/icons.png) 0px 0px;
}

#content .leftContent .instituteDetailsNav  .faculty a i{
	background: no-repeat url(../images/icons.png) 0px -15px;
}

#content .leftContent .instituteDetailsNav .infrastructure a i {
	background: no-repeat url(../images/icons.png) 0px -30px;
}

#content .leftContent .instituteDetailsNav .teaching a i{
	background: no-repeat url(../images/icons.png) 0px -45px;
}

#content .leftContent .instituteDetailsNav .student a i{
	background: no-repeat url(../images/icons.png) 0px -60px;
}

#content .leftContent .instituteDetailsNav .location a i{
	background: no-repeat url(../images/icons.png) 0px -75px;
}

#content .leftContent .instituteDetailsNav .curriculum a i{
	background: no-repeat url(../images/icons.png) 0px -90px;
}

#content .leftContent .instituteDetailsNav .globalExposure a i{
	background: no-repeat url(../images/icons.png) 0px -105px;
}

#content .leftContent .instituteDetailsNav .corporateInterface a i {
	background: no-repeat url(../images/icons.png) 0px -120px;
}

#content .leftContent .instituteDetailsNav .alumniInterface a i{
	background: no-repeat url(../images/icons.png) 0px -135px;
}

#content .leftContent .instituteDetailsNav .board a i{
	background: no-repeat url(../images/icons.png) 0px -150px;
}
#content .leftContent .instituteDetailsNav .placement a i{
	background: no-repeat url(../images/icons.png) 0px -165px;

}
#content .leftContent .instituteDetailsNav .placement{
border-bottom:  1px solid #e5e5ee;
}

#content .leftContent .instituteDetailsNav li a .arrow{
	float: right;
	height: 15px;
	width: 15px;
	background: #ccc;
	background: no-repeat url(../images/icons.png) -15px -15px;
}

#content .leftContent .instituteDetailsNav li a:hover .arrow{
	background: no-repeat url(../images/icons.png) -15px 0px;	

}

#content .rightContent .competingSchools{
	margin-bottom: 10px;
}
#content .rightContent .competingSchools ul li{
	margin-bottom: 10px;
	line-height: 18px;
}

#content .rightContent .competingSchools ul .clr{
	margin: 0px;
}

#content .rightContent .competingSchools ul li a{
	display: block;
}

#content .rightContent .competingSchools ul li a img{
	max-width: 33px;
	max-height: 33px;
	float: left;
	border: 1px solid #e5e5ee;
	display: block;
	margin-right: 10px;
}
#content .rightContent .competingSchools ul li a span{
float: left;
display: block;
max-width: 215px;
}
#content .rightContent .competingSchools ul li a .clr{
	clear: both;
	float: none;
}

#content .centerContent .gallery li{
	float: left;
	margin: 5px 5px 5px 5px;
	box-shadow: 0 0 3px 1px #ccc;

}
#content .centerContent .gallery li img{
	display: block;
	height: 70px;
	width: 95px;
	padding: 5px;
}

#content .centerContent .gallery .clr{
	float: none;
	clear: both;
	padding: 0px;
	margin: 0px;
	box-shadow: none;
}


#footer{
			
}

