
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
  dt, dd, ol, ul, li, table, tr, td, form, object, embed,
  article, aside, canvas, command, details, fieldset,
  figcaption, figure, footer, group, header, hgroup, legend,
  mark, menu, meter, nav, output, progress, section, summary,
  time, audio, video,img {
  margin: 0;
  padding: 0;
  border: 0;
  }


body{
	font-family: arial;
	font-size: 12px;
	color: #888888;
	background: #f3f3f3;

}

a{
	text-decoration: none;
	color: #444444;
}

a:hover{
	color: #666666;
	
}

li{
	float: left;
	list-style: none;
}
h1{
	font-size: 24px;
	font-family: roboto;
}

h2{
	font-family: roboto;
	font-size: 18px;
}

.clr{
	clear: both;
	float: none;
}
#header{
	background: #ffffff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 2px 5px 0px #d7d7d7;


}
.headerWrapper{
	width: 960px;
	margin:0 auto 0 auto;
	padding: 0 0 9px 0;

}

.logo{
	display: block;
	float: left;
	background: no-repeat url(../images/logo.jpg);
	width: 140px;
	height: 40px;
	margin: 12px 0 0 10px;
}

.topNav{
	float: right;
}
.userNav{
	margin:08px 0 9px 0;
	float: right;
}
.userNav li a{
	padding: 0 7px 0 7px;
	font-family: arial;
}

.mainNav{
	font-family: roboto bold;
	text-transform: uppercase;
	margin:0 8px 0 0;
}

.mainNav li{
	margin: 0  0 0 31px;
}
.mainNav li a{
	padding: 0 0 0 25px;
	font-weight: bold;
	color: #666666;
	font-size: 13px;
	
}

.mainNav .dashboard a{
	background: no-repeat url(../images/dashboard.png) left center;
}

.mainNav .jobs a{
	background: no-repeat url(../images/jobs.png) left center;
}

.mainNav .translator a{
	background: no-repeat url(../images/translator.png) left center;
}

.mainNav .language a{
	background: no-repeat url(../images/language.png) left center;
}

.mainNav .teams a{
	background: no-repeat url(../images/teams.png) left center;
}

.mainNav li a:hover{
	color: #444444;
}

/* selected */
.mainNav .dashboard a.selected{
	background: no-repeat url(../images/dashboardOver.png) left center;
	color: #444444;
}

.mainNav .jobs .selected{
	background: no-repeat url(../images/jobsOver.png) left center;
	color: #444444;
}

.mainNav .translator .selected{
	background: no-repeat url(../images/translatorOver.png) left center;
	color: #444444;
}


.mainNav .language .selected{
	background: no-repeat url(../images/languageOver.png) left center;
	color: #444444;
}

.mainNav .teams .selected{
	background: no-repeat url(../images/teamsOver.png) left center;
	color: #444444;
}

#content{
	background: #f3f3f3;
	margin: 0 0 50px 0;
}

.contentWrapper{
	border-radius: 5px;
	width: 960px;
	margin: 0 auto 0 auto;
	background: #fbfbfb;
	
}

.profile{
	width: 680px;
	float: left;
	background: #444444;
	border-top-left-radius: 5px;
}
.profilePic{

}

.profile .profileHead{
	margin: 18px 20px 15px 20px; 
}

.profile .profileHead .profilePic{
	width: 116px;
	float: left;
	margin: 0px 23px 0px 0px;
}

.profile .profileHead .profilePic .pic{
	width: 100px;
	border-radius: 50px;
	box-shadow: 0 0 0 5px #2f2f2f;
	height: 100px;
	background: no-repeat url(../images/profilePic.jpg);
	margin: 3px 2px 3px 7px;
}
.profile .profileHead .profilePic ul{

float:right;
}

.profile .profileHead .profilePic  ul li{
}



.profile .profileHead .profilePic  ul li .linkedIn{
	background: no-repeat url(../images/linkedIn.png);
	height: 16px;
	width: 16px;
	display: block;
	position:relative;
	top:-11px;
}


.profile .profileHead .profilePic ul li .facebook{
	background: no-repeat url(../images/facebook.png);
	height: 16px;
	width: 16px;
	display: block;
	position:relative;
	top: -26px;
	margin-left:2px;
}

.profile .profileHead .profilePic  ul li  .twitter{
	background: no-repeat url(../images/twitter.png);
	height: 16px;
	width: 16px;
	display: block;
	position:relative;
	top:-46px;
	margin-left:-3px;
}

.profile .profileHead .profilePic  ul li  .twitter:hover{
top:-47px;
}

.profile .profileHead .profilePic  ul li  .facebook:hover{
top:-27px;
}

.profile .profileHead .profilePic  ul li  .linkedIn:hover{
top:-12px;
}

.goldPlanUser{
	width:109px;
	height:19px;
	display:block;
	background:no-repeat url(../images/goldPlanUser.png);
	padding:4px 0 0 9px;
	font-size:12px;	
	color: #000000;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}




.profile .profileHead .profileTitle{
	width: 235px;
	float: left;
	margin: 0 24px 0 0;
	color: #bbbbbb;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.profile .profileHead .profileTitle h1{
	font-weight: bold;
	color: #ffffff;
	
	margin: -2px 0 4px 0;
}

.profile .profileHead .profileTitle .from{
	margin: 0 0 10px 0;
	display: block;
}

.profile .profileHead .profileTitle .profession{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	margin: 0 0 10px 0;
	display: block;
}

.profile .profileHead .profileTitle ul li{
	margin: 0 0 3px 0;
}

.profile .profileHead .profileTitle ul li span{
	color: #ffffff;
	font-weight: bold;
}




.profile .profileHead .profileRating{
	width: 235px;
	float: right;
	color: #bbbbbb;

}

.profile .profileHead .profileRating .rating{
	margin: 0 0 10px 0;
	padding: 8px 0 0 0;
	text-align: right;

}


.profile .profileHead .profileRating .recommendetion{
	text-align: right;
	font-size: 13px;
	margin: 0 0 29px 0;
}

.profile .profileHead .profileRating .recommendetion span{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}



.profile .profileHead .profileRating .upgradeBtn{
	text-align: right;
	height: 28px;
	width:163px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	border: 1px solid #0e0e0e;
	/*box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.18);*/
	float: right;
	margin: 0 0 12px 0;
}
.profile .profileHead .profileRating .upgradeBtn a{
	font-size: 14px;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
	display: block;
	height: 19px;
	width:150px;
	padding: 5px 13px 4px 0;
	line-height: 14px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
}
.profile .profileHead .profileRating .addPowerFeature{
	text-align: right;
	line-height: 16px;
	width: 140px;
	float: right;
}

.profile .profileHead .profileRating .addPowerFeature span{
	color: #ffffff;
}
.message{
	width: 280px;
	float: left;
}

#footer{
	background: #353535;
	min-height: 200px;
}