
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
  dt, dd, ol, ul, li, table, tr, td, form, object, embed,
  article, aside, canvas, command, details, fieldset,
  figcaption, figure, footer, group, header, hgroup, legend,
  mark, menu, meter, nav, output, progress, section, summary,
  time, audio, video,img {
  margin: 0;
  padding: 0;
  border: 0;
  }


body{
	font-family: arial;
	font-size: 12px;
	color: #888888;
	background: #f3f3f3;

}

a{
	text-decoration: none;
	color: #444444;
}

a:hover{
	color: #666666;
	
}

li{
	float: left;
	list-style: none;
}
h1{
	font-size: 24px;
	font-family: roboto;
}

h2{
	font-family: roboto;
	font-size: 18px;
}

.clr{
	clear: both;
	float: none;
}
#header{
	background: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0px 2px 5px 0px #d7d7d7;


}
.headerWrapper{
	width: 960px;
	margin:0 auto 0 auto;
	padding: 0 0 9px 0;

}

.logo{
	display: block;
	float: left;
	background: no-repeat url(../images/logo.jpg);
	width: 140px;
	height: 40px;
	margin: 12px 0 0 10px;
}

.topNav{
	float: right;
}
.userNav{
	margin:08px 0 9px 0;
	float: right;
}

.userNav li{
	border-left: 1px solid #444444;
}

.userNav .start{
	border: none;
}
.userNav li a{
	padding: 0 7px 0 7px;
	
}

.mainNav{
	font-family: roboto bold;
	text-transform: uppercase;
	margin:0 8px 0 0;
}

.mainNav li{
	margin: 0  0 0 31px;
}
.mainNav li a{
	padding: 0 0 0 25px;
	font-weight: bold;
	color: #666666;
	font-size: 13px;
	
}

.mainNav .dashboard a{
	background: no-repeat url(../images/dashboard.png) left center;
}

.mainNav .jobs a{
	background: no-repeat url(../images/jobs.png) left center;
}

.mainNav .translator a{
	background: no-repeat url(../images/translator.png) left center;
}

.mainNav .language a{
	background: no-repeat url(../images/language.png) left center;
}

.mainNav .teams a{
	background: no-repeat url(../images/teams.png) left center;
}

.mainNav li a:hover{
	color: #444444;
}

/* selected */
.mainNav .dashboard a.selected{
	background: no-repeat url(../images/dashboardOver.png) left center;
	color: #444444;
}

.mainNav .jobs .selected{
	background: no-repeat url(../images/jobsOver.png) left center;
	color: #444444;
}

.mainNav .translator .selected{
	background: no-repeat url(../images/translatorOver.png) left center;
	color: #444444;
}


.mainNav .language .selected{
	background: no-repeat url(../images/languageOver.png) left center;
	color: #444444;
}

.mainNav .teams .selected{
	background: no-repeat url(../images/teamsOver.png) left center;
	color: #444444;
}

#content{
	background: #f3f3f3;
	margin: 0 0 50px 0;
}

.contentWrapper{
	border-radius: 5px;
	width: 960px;
	margin: 0 auto 0 auto;
	background: #fbfbfb;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}

.profile{
	width: 679px;
	float: left;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px; 
	box-shadow: 1px 0 1px 0 rgba(0,0,0,0.1);
	background: #ffffff;
	
}
.profileHeadWrapper{
	background: #444444;
	padding: 18px 20px 15px 20px; 
	border-top-left-radius: 5px;
	margin: 0 0 28px 0;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
}

.profile .profileHead{
	
}

.profile .profileHead .profilePic{
	width: 116px;
	float: left;
	margin: 0px 23px 0px 0px;
}

.profile .profileHead .profilePic .pic{
	width: 100px;
	border-radius: 50px;
	box-shadow: 0 0 0 5px #2f2f2f;
	height: 100px;
	background: no-repeat url(../images/profilePic.jpg);
	margin: 3px 2px 3px 7px;
}
.profile .profileHead .profilePic ul{

float:right;
}

.profile .profileHead .profilePic  ul li{
}



.profile .profileHead .profilePic  ul li .linkedIn{
	background: no-repeat url(../images/linkedIn.png);
	height: 16px;
	width: 16px;
	display: block;
	position:relative;
	top:-11px;
}


.profile .profileHead .profilePic ul li .facebook{
	background: no-repeat url(../images/facebook.png);
	height: 16px;
	width: 16px;
	display: block;
	position:relative;
	top: -26px;
	margin-left:2px;
}

.profile .profileHead .profilePic  ul li  .twitter{
	background: no-repeat url(../images/twitter.png);
	height: 16px;
	width: 16px;
	display: block;
	position:relative;
	top:-46px;
	margin-left:-3px;
}

.profile .profileHead .profilePic  ul li  .twitter:hover{
top:-47px;
}

.profile .profileHead .profilePic  ul li  .facebook:hover{
top:-27px;
}

.profile .profileHead .profilePic  ul li  .linkedIn:hover{
top:-12px;
}

.goldPlanUser{
	width:109px;
	display:block;
	background:no-repeat url(../images/goldPlanUser.png);
	padding:4px 0 3px 9px;
	color: #000000;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}




.profile .profileHead .profileTitle{
	width: 235px;
	float: left;
	margin: 0 24px 0 0;
	color: #bbbbbb;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.profile .profileHead .profileTitle h1{
	font-weight: bold;
	color: #ffffff;
	
	margin: -2px 0 4px 0;
}

.profile .profileHead .profileTitle .from{
	margin: 0 0 10px 0;
	display: block;
}

.profile .profileHead .profileTitle .profession{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	margin: 0 0 10px 0;
	display: block;
}

.profile .profileHead .profileTitle ul li{
	margin: 0 0 3px 0;
}

.profile .profileHead .profileTitle ul li span{
	color: #ffffff;
	font-weight: bold;
}




.profile .profileHead .profileRating{
	width: 235px;
	float: right;
	color: #bbbbbb;

}

.profile .profileHead .profileRating .rating{
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
	float: right;
	background: repeat-x url(../images/ratingBack.png);
	width: 75px;
	height: 13px;
}

.profile .profileHead .profileRating .rating .ratingFront{
	background: repeat-x url(../images/ratingFront.png);
	width: 85%;
	height: 13px;

}

.profile .profileHead .profileRating .recommendetion{
	text-align: right;
	font-size: 13px;
	margin: 0 0 29px 0;
}

.profile .profileHead .profileRating .recommendetion span{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}



.profile .profileHead .profileRating .upgradeBtn{
	text-align: right;
	height: 28px;
	width:163px;
	
	
	/*box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.18);*/
	float: right;
	margin: 0 0 12px 0;
}
.profile .profileHead .profileRating .upgradeBtn a{
	border: 1px solid #0e0e0e;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	font-size: 14px;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
	display: block;
	height: 19px;
	width:150px;
	padding: 5px 13px 4px 0;
	line-height: 14px;
	background: linear-gradient(#525252 10%, #000000 90%);
}
.profile .profileHead .profileRating .upgradeBtn a:hover{
	position: relative;
	top: -1px
}
.profile .profileHead .profileRating .addPowerFeature{
	text-align: right;
	line-height: 16px;
	width: 140px;
	float: right;
	font-family: roboto;
}

.profile .profileHead .profileRating .addPowerFeature span{
	color: #ffffff;
}




.profileDetails{
	margin: 0 35px 10px 35px;
}

.profileDetails .contact{
	color: #666666;
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 32px 0;
	border-bottom: 1px solid #ebebeb;
	padding: 0 0 13px 0;
}
.profileDetails .contact ul .address{
	width: 586px;
	background: no-repeat url(../images/address.png);
}

.profileDetails .contact ul .phone{
	background: no-repeat url(../images/phone.png);
}

.profileDetails .contact ul .fax{
	background: no-repeat url(../images/fax.png);
}

.profileDetails .contact ul .mail{
	background: no-repeat url(../images/mail.png);
}

.profileDetails .contact ul .website{
	background: no-repeat url(../images/website.png);
}

.profileDetails .contact ul .website a{
	color: #666666;
}

.profileDetails .contact ul .website a:hover{
	color: #dd4422;
}

.profileDetails .contact ul li{
	display: block;
	padding: 0 0 0 24px;
	width: 280px;
	margin: 0 0 9px 0;
}

.jobHistory{
	margin: 0 0 22px 0;
}
.jobHistory h1{
	color: #444444;
	padding: 0 0 10px 40px;
	border-bottom: 1px solid #ebebeb;
	background: no-repeat url(../images/jobHistory.png);
	margin: 0 0 16px 0;
}


.jobHistory ul li{
	margin: 0 0 16px 0;
	border-bottom: 1px solid #f0f0f0;
}

.jobHistory ul .clr{
	border: none;
	margin: 0;
}
.jobHistory h3{
	font-weight: bold;
	font-size: 18px;
	color: #444444;
	margin: 0 0 6px 0;
}

.jobHistory .company{
	font-size: 14px;
	color: #444444;	
	display: block;
	margin: 0 0 7px 0;
}

.jobHistory .workingPeriod{
	font-size: 11px;
	color: #aaaaaa;	
	display: block;
	margin: 0 0 13px 0;	
}

.jobHistory p{
	line-height: 18px;
	margin: 0 0 16px 0;	
}

.education{
	margin: 0 0 22px 0;
}
.education h1{
	color: #444444;
	padding: 0 0 10px 54px;
	border-bottom: 1px solid #ebebeb;
	background: no-repeat url(../images/education.png);
	margin: 0 0 21px 0;
}

.education ul{
	
}
.education ul li{
	border-radius: 3px;
	box-shadow: 0px 0px 1px 1px #d9d9d9;
	padding: 10px 0 0 14px;
	width: 279px;
	margin: 0  22px 0 0;
}

.education ul .last{
	margin: 0 0 0 0px;
}

.education ul .clr{
	margin: 0 0 0 0px;
	box-shadow: none;
	padding: 0;
}

.education h3{
	font-weight: bold;
	font-size: 18px;
	color: #444444;
	margin: 0 0 6px 0;
}

.education .degree{
	font-size: 14px;
	color: #444444;	
	display: block;
	margin: 0 0 7px 0;
}

.education .year{
	font-size: 11px;
	color: #aaaaaa;	
	display: block;
	margin: 0 0 18px 0;	
}

.review .reviewHead{
	padding: 0 0 12px 0;
	border-bottom: 1px solid #ebebeb;
	margin: 0 0 20px 0;
}
.review .reviewHead h2{
	font-size: 24px;
	color: #444444;
	float: left;
}

.review .reviewHead .reviewNav{
	margin: 20px 0 0 0 ;
	float: right;
}

.review .reviewHead .reviewNav .previous{
	display: block;
	float: left;
	height: 16px;
	width: 11px;
	background: no-repeat url(../images/reviewNavPrevious.png);
	margin:0 11px 0 0;
}

.review .reviewHead .reviewNav .next{
	display: block;
	float: left;
	height: 16px;
	width: 11px;
	background: no-repeat url(../images/reviewNavNext.png)
}


.review .reviewProfile{
	
	padding: 11px 0px 0px 10px;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #d9d9d9;
	margin: 0 22px 20px 0;
	width: 283px;
}

.review .last{
	margin: 0 0 20px 0;
}
.review .reviewProfile .reviewProfileTop{
border-bottom: 1px solid #ebebeb;
padding: 0 0 10px 0;
margin: 0 0 6px 0;

}

.review .reviewProfile .reviewProfileTop .reviewProfilePic{
	width: 58px;
	height: 58px;
	border-radius: 29px;
	box-shadow: 0 0 0 1px #bbbbbb;
	background: no-repeat url(../images/reviewProfilePic.png);
	float: left;
	margin: 0 10px 0 0;
	display: block;
}

.review .reviewProfile .reviewProfileTop .reviewProfileTitle{
	float: left;
	padding: 13px 0 0 0;
}

.review .reviewProfile .reviewProfileTop .reviewProfileTitle .profileTitle{
	font-family: arial;
	color: #222222;
	font-size: 16px;
	display: block;
	margin: 0 0 2px 0;
}

.review .reviewProfile .reviewProfileTop .reviewProfileTitle .profileTitle:hover{
	color: #666666;
}
.review .reviewProfile .reviewProfileTop .reviewProfileTitle .profileTitlePost{
	color: #666666;
}

.review .reviewProfile .reviewProfileTop .rating{
	margin: 13px 0 10px 0;
	padding: 0 0 0 0;
	float: right;
	background: repeat-x url(../images/ratingBack.png);
	width: 75px;
	height: 13px;
}

.review .reviewProfile .reviewProfileTop .ratingFront{
	background: repeat-x url(../images/ratingFront.png);
	width: 70%;
	height: 13px;	
}



.review .reviewProfile .reviewProfileBottom{
padding: 0 0 0 4px;
}

.review .reviewProfile .reviewProfileBottom .reviewProfileBottomTitle{
	font-size: 14px;
	color: #444444;
	margin: 0 0 5px 0;
	display: block;
}

.review .reviewProfile .reviewProfileBottom p{
	margin-bottom: 15px;
}
.review .reviewProfile .reviewProfileBottom p a{
	color: #dd4422;
}

.review .reviewProfile .reviewProfileBottom p a:hover{
	color: #888888;
}

.message{
	width: 280px;
	float: left;
	
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.message .messageHead{
	margin: 25px 30px 18px 20px
}
.message .messageHead h2{
	background: no-repeat url(../images/message.png);
	padding: 4px 0 10px 43px;
	color: #dd4422;
	float: left;
	text-transform: uppercase;
}

.message .messageHead span{
	text-transform: uppercase;
	color: #666666;
	float: right;
	margin:9px 7px 0 0;
}

.message .messageHead .newMessage{
	height: 19px;
	width:22px;
	color: #dd4422;
	float: right;
	background: #dd4422;
	border-radius: 11px; 
	color: #ffffff;
	text-align: center;
	font-family: roboto;
	padding-top: 3px;
	margin-top:6px; 
}

.message .mainMessage .day{
	padding:1px 5px 0 6px;
	margin: 0 0 10px 20px;
	border-radius: 2px;
	background: #e5e5e5;
	display: block;
	float: left;
	font-size: 11px;
}
.message .mainMessage .seperator{
	
	height: 3px;
	background: no-repeat url(../images/seperator.png);
}

.message .mainMessage li{
	clear: both;
	margin-bottom: 24px;
}

.message .mainMessage li ul .clr{
	border: none;
}

.message .mainMessage li ul li{
	border-bottom: 1px solid #ebebeb;
	margin: 8px 30px 5px 20px;
}


.message .mainMessage li ul li .pic{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	box-shadow: inset 0 0 1px 0 #cccccc;
	background: no-repeat url(../images/pic1.png);
	float: left;
	margin: 0 10px 7px 0;
	
	display: block;
}

.message .mainMessage li ul li .name{
	display: block;
	font-size: 16px;
	color: #222222;
	margin:7px 0 0 0px;
	float: left;
}

.message .mainMessage li ul li .name:hover{
	color: #666666;
}
.message .mainMessage li ul li span{
	display: block;
	color: #666666;
	margin-bottom: 6px;
	line-height: 15px;
}

.message .mainMessage li ul li .time{
	display: block;
	font-size: 11px;
	color: #aaaaaa;
	margin-bottom: 8px;
}

#footer{
	background: #353535;

}

#footer .footerWrapper{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 80px;
}

#footer .footerWrapper ul {
	text-align: center;
	margin: 0px 0 6px 0px;
	padding-top: 15px;

}
#footer .footerWrapper ul li{
	border-left: 1px solid #d9d9d9;
	margin:0 5px 0 0px; 
	padding: 0 0 0 5px;
	float: none;
	display: inline-block;
}

#footer .footerWrapper ul .start{
	border: none;
}
#footer .footerWrapper ul li a{
	color: #d9d9d9;

}

#footer .footerWrapper ul .clr{
	border: none;
}
#footer .footerWrapper ul li a:hover{
	color: #888888;
}

#footer .footerWrapper span{
	display: block;
	text-align: center;

}