
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
  dt, dd, ol, ul, li, table, tr, td, form, object, embed,
  article, aside, canvas, command, details, fieldset,
  figcaption, figure, footer, group, header, hgroup, legend,
  mark, menu, meter, nav, output, progress, section, summary,
  time, audio, video,img {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
	font-family: arial;
	font-size: 12px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#2255aa;
}
.heading{
	border-bottom: 1px solid #bbccff;
	margin-bottom: 10px;
}
.heading span{
	font-weight: bold;
	font-size: 14px;
	background: #ccddff;
	line-height: 29px;
	display: block;
	margin-bottom: 1px;
	padding-left: 10px;
	
}

.clr{
	float: none;
	clear: both;
}
#header{
	background-color: #d6e4ff;
	border-bottom: 1px solid #bbccff;
	margin-bottom: 40px;
}

#header .headerWrapper{
	width: 990px;
	margin: 0 auto;
}

#header .headerWrapper .logo{
	height:32px;
	width: 134px;
	background: no-repeat url(../images/icons.png) 0px -30px;
	float: left;
	margin: 22px 96px 20px 0;
	text-indent: -9999px;
}
.headerCenter{
	float: left;
	margin: 11px 0 0 0;

}

.headerCenter .centerNav{
	margin-bottom: 7px;

}
.headerCenter .centerNav li{
	float: left;
	font-weight: bold;
	font-size: 14px;
	margin: 0 18px 0 0;
	text-shadow: 0px 1px 0px #ffffff;
}
.headerCenter .centerNav li a{

}


.headerCenter .centerNav .clr{
	float: none;
	clear: both;
}

.headerCenter form .searchTxt{
	width: 370px;
	line-height: 26px;
	border: 1px solid #d2d5e9;
	margin: 0px;
	font-size: 14px;
}

.headerCenter form .searchBtn{
	width: 90px;
	line-height: 26px;
	border: 1px solid #2255aa;
	margin: 0 0 0 -4px;
	background: #2255aa linear-gradient(rgba(255,255,255,0.2) 20%, rgba(255,255,255,0.0) 80%);
	font-size: 14px;
	color: #ffffff;
}


.headerRight{
	float: right;
	margin-top: 40px;
}

.headerRight .userNav{
	float: left;
}
.headerRight .userNav li{
	float: left;
	margin: 0 16px 0 0;
}
.headerRight .userNav li{
	font-size: 14px;
	font-weight: bold;
}

.headerRight .socialNav{
	float: left;
}
.headerRight .socialNav li{
	float: left;
	margin: 0 0 0 4px;
}



.headerRight .socialNav li a{
	display: block;
	height: 21px;
	width: 21px;
}

.headerRight .socialNav li .facebook{
	background: no-repeat url(../images/icons.png) 0px -105px;
}

.headerRight .socialNav li .twitter{
	background: no-repeat url(../images/icons.png) 0px -75px;

}

#content{
	width: 990px;
	margin: 0 auto;
	background: repeat-y url(../images/background.png);
	
}

#content .leftContent{
	width: 210px;
	float: left;
	margin-right: 20px;
}

#content .centerContent{
	width: 460px;
	float: left;
	
	margin-right: 40px;
}

#content .rightContent{
	width: 260px;
	float: left;
}

#content .leftContent .follower .followerLogo{
	width: 210px;
	height: 178px;
	border-bottom: 1px solid #e5e5ee;
}

#content .leftContent .follower .followerDetails{
	line-height: 18px;
	margin: 0 10px 23px 0;
}

#content .leftContent .follower .followerDetails span{
	display: block;
	color:#2255aa;
	margin-bottom: 10px;
}


#content .leftContent .follower .followerDetails .motto{
	color: #959595;
	display: block;
	margin-bottom: 10px;
}

#content .leftContent .follower .followerDetails p{
	margin-bottom: 10px;
}

#content .leftContent .follower .followerDetails .followerName{
	
	font-weight: bold;
}


#content .leftContent .follower .followerDetails .heads{
	color: #000000;
	font-weight: bold;
	margin-bottom: 0px;
}

#content .leftContent .leftNav{
	margin-bottom: 20px;
}
#content .leftContent .leftNav li{
	border-top: 1px solid #e5e5ee;
	color: #2255aa; 
	font-weight: bold;
	padding: 8px 0 7px 0;
	
}

#content .leftContent .leftNav li a i{
	float: left;
	height: 15px;
	width: 15px;
	margin-right: 6px;
}
#content .leftContent .leftNav .overview a i{
	background: no-repeat url(../images/icons.png);
}

#content .leftContent .leftNav  .faculty a i{
	background: no-repeat url(../images/icons.png) -15px 0px;
}

#content .leftContent .leftNav .infrastructure a i {
	background: no-repeat url(../images/icons.png) -30px 0px;
}

#content .leftContent .leftNav .teaching a i{
	background: no-repeat url(../images/icons.png) -45px 0px;
}

#content .leftContent .leftNav .student a i{
	background: no-repeat url(../images/icons.png) -60px 0px;
}

#content .leftContent .leftNav .location a i{
	background: no-repeat url(../images/icons.png) -75px 0px;
}

#content .leftContent .leftNav .curriculum a i{
	background: no-repeat url(../images/icons.png) -90px 0px;
}

#content .leftContent .leftNav .globalExposure a i{
	background: no-repeat url(../images/icons.png) -105px 0px;
}

#content .leftContent .leftNav .corporateInterface a i {
	background: no-repeat url(../images/icons.png) -120px 0px;
}

#content .leftContent .leftNav .alumniInterface a i{
	background: no-repeat url(../images/icons.png) -135px 0px;
}

#content .leftContent .leftNav .board a i{
	background: no-repeat url(../images/icons.png) -150px 0px;
}
#content .leftContent .leftNav .placement a i{
	background: no-repeat url(../images/icons.png) -165px 0px;

}
#content .leftContent .leftNav .placement{
border-bottom:  1px solid #e5e5ee;
}

#content .leftContent .leftNav li a .arrow{
	float: right;
	height: 15px;
	width: 15px;
	background: #ccc;
	background: no-repeat url(../images/icons.png) -180px 0px;
}

#content .rightContent .competingSchools li{
	margin-bottom: 10px;
}

#content .rightContent .competingSchools li a img{
	width: 33px;
	height: 33px;
	float: left;
	border: 1px solid #e5e5ee;
	display: block;
	margin-right: 10px;
}
#content .rightContent .competingSchools li a span{
float: left;
display: block;
max-width: 215px;
}
#content .rightContent .competingSchools li a .clr{
	clear: both;
	float: none;
}

#content .centerContent .gallery li{
	float: left;
	margin: 5px 5px 5px 5px;
	box-shadow: 0 0 3px 1px #ccc;

}
#content .centerContent .gallery li img{
	display: block;
	height: 70px;
	width: 95px;
	padding: 5px;

	
}

#footer{
			
}

