
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
  dt, dd, ol, ul, li, table, tr, td, form, object, embed,
  article, aside, canvas, command, details, fieldset,
  figcaption, figure, footer, group, header, hgroup, legend,
  mark, menu, meter, nav, output, progress, section, summary,
  time, audio, video,img {
  margin: 0;
  padding: 0;
  border: 0;

  }


body{
	font-family: arial;
	font-size: 11px;
	color: #222222;
}

a{
	text-decoration: none;
	color: #444444;
}

a:hover{
	color: #666666;
	
}

li{
	float: left;
	list-style: none;
}

.clr{
	clear: both;
	float: none;
}
#header{
 	background: #f0f2f5;
 	box-shadow: 0 1px 2px 1px rgba(0,0,0,0.10);
 	border-bottom: 1px solid rgba(0,0,0,0.10);
}

#header .headerWrapper{
	width: 940px;
	margin: 0 auto;

}
#header .headerWrapper .logo{
	background: no-repeat url(../images/logo.png);
	display: block;
	height: 36px;
	width: 195px;
	margin: 6px 36px 0 0;
	float: left;
}

#header .headerWrapper input{
	border-radius: 3px;
	float: left;
	display: block;
	box-shadow: 0 0 1px 1px #bbbbbb;
	border: none;
	width: 358px;
	height: 34px;
	margin: 8px 0 8px 0;
	padding: 0 0 0 37px;
	background: no-repeat #ffffff url(../images/search.png);
	font-size: 16px;
	color: #bbbbbb;
}


#header .headerWrapper .headerRight{
	float: right;
}

#header .headerWrapper .headerRight span{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	display: block;
	float: left;
	margin: 17px 30px 0 0;
}

#header .headerWrapper .headerRight .pic{
	width: 30px;
	height: 30px;
	display: block;
	background: no-repeat url(../images/profilePic.png);
	float: left;
	margin: 10px 6px 0 0;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.15);
	border-radius: 3px;
}

#header .headerWrapper .headerRight .down{
	width: 9px;
	height: 5px;
	background: no-repeat url(../images/downArrow.png);
	display: block;
	float: left;
	margin: 22px 13px 0 0;
}



#content{
	border-bottom: 1px solid #dddddd;
}

#content .contentTop{
	font-size: 15px;
	width: 940px;
	margin: 27px auto 20px auto;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #dcdcdc;

}

#content .contentTop .category{
	text-transform: uppercase;
	color: #222222;
	display: block;
	float: left;
	margin: 0 9px 0 0;
}

#content .contentTop .rightArrow{
	float: left;
	width: 5px;
	height: 10px;
	background: no-repeat url(../images/rightArrow.png);
	margin: 4px 12px 0 0;

}

#content .contentTop .subCategory{
	color: #888888;
	display: block;
	float: left;
}

#content .mainContent{
	width: 940px;
	margin: 0 auto 0 auto;
	padding: 0 0 59px 0px;
}

#content .mainContent ul{
	width: 710px;
	float: left;
	margin: 0 32px 0 0px;
	
}
#content .mainContent ul .end{
	margin-right: 0px;
	
}

#content .mainContent ul li{
	width: 218px;
	box-shadow: 1px 1px 3px 2px #cccccc;
	border-radius: 3px;
	margin: 0 27px 21px 0;
}


#content .mainContent ul .clr{
	box-shadow: none;
}
#content .mainContent ul li ul{
	border-bottom: 1px solid #cccccc;
	width: 218px;
}
#content .mainContent ul li img{
	padding: 6px;
	border-bottom: 1px solid #cccccc;
	margin: 0 0 4px 0;
	width: 206px;
}

#content .mainContent ul li ul li{
	box-shadow: none;
	float: none;
	margin:0 5px 10px 14px;
	width: 190px;
	border-top: 1px solid #eeeeee;
	padding-top: 6px;
}
#content .mainContent ul li ul .title {
	border: none;
}
#content .mainContent ul li ul .title a .link{
	font-size: 13px;
	color: #225588;
	font-weight: bold;
	margin-right: 5px;
}
#content .mainContent ul li ul .title a span{
	color: #888888;
	font-weight: normal;
	display: inline;
}

#content .mainContent ul li ul .title span{
	display: block;
	font-size: 13px;
	color: #888888;
	color: red;
}

#content .mainContent ul li .bottom{
	background: #f4f6f8;
	border-radius: 3px;
}

#content .mainContent ul li .bottom span{
	display: block;
	font-size: 13px;
	color: #888888;
	margin: 10px 26px 0 0;
	float: left;
}

#content .mainContent ul li .bottom a{
	display: block;
	font-size: 13px;
	color: #225588;
	margin: 10px 0 0 0;
	float: left;
}
#content .mainContent ul li .bottom .vedios{
	display: block;
	float: left;
	width: 22px;
	height: 13px;
	background: no-repeat url(../images/vedios.png);
	margin: 12px 7px 0 15px;
	float: left;
}

#content .mainContent ul li .bottom .articles{
	display: block;
	float: left;
	width: 18px;
	height: 20px;
	background: no-repeat url(../images/articles.png);
	margin: 9px 7px  10px 0;
}

#content .mainContent .advt{
	width: 198px;
	float: left;
}
#content .mainContent .advt ul li{
	float: none;
	box-shadow: none;
	margin-bottom: 20px;
}

#content .mainContent .advt ul li img{
	box-shadow: 0 0 0 1px #000000;
	width: 198px;
	height: auto;
	padding:0;
	margin: 0;

}

#footer{
	width: 940px;
	margin: 11px auto 57px auto;

}
#footer ul{
	float: left;
}
#footer ul li a{
	color: #225588;
	font-size: 13px;
	display: block;
	margin-right: 16px;
}

#footer .copyright{
	float: right;
	font-size: 13px;
	color: #888888;
}